@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




*{
  margin :0;
  padding :0;
  box-sizing:border-box;
   font-family: "Roboto Condensed", sans-serif;

}
:root{
  --lead: #212121;
  --gold-finger: #F2BD12;
  --eye-ball:#FFFDF7;
  --hint-yellow: #FCF1CC;
  --pure-white: #FFF;

}
body{
  backgroungd: var(--eye-ball);
}
/* Basic styling */

/* For removing underline below the links and changing its color to black */
a{
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--lead);
}

.flex{
  display:flex;
  align-items: centre;

}
/* for removing . in frot of the links */
li{
  list-style: none;
}
/* placing the links in between the window */
.between{
  justify-content: space-between;

}
/* gap between links */
.gap-3{
  gap: 3rem;
}
/* for proper alignment */
.wrapper{
  max-width:1400px;
  margin :auto;
  padding-inline:1.5re m;
}



 




/* Header Styling */
/* for mainting the links little below the screen  */
.navbar{
  min-height: 14vh;
}
.logo{
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);

}







/* Sections Styling */






/* Footer Styling */














































/* Media Queries */

